/html/.phpunit.cache
/node_modules
/html//node_modules
/html//public/build
/html//public/hot
/html//public/storage
/html//storage/*.key
/html//storage/pail
/html//vendor
/db_data
/html/.env
/html/.env.backup
/html/.env.production
/html/.phpactor.json
/html/.phpunit.result.cache
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/html/Homestead.json
/html/Homestead.yaml
/html/auth.json
/html/npm-debug.log
/html/yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
/html/.fleet
/html/.idea
/html/.nova
/html/.vscode
/html/.zed
